@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/src/fonts/Roboto-Thin.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url(/src/fonts/Roboto-ThinItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/src/fonts/Roboto-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(/src/fonts/Roboto-LightItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/src/fonts/Roboto-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(/src/fonts/Roboto-Italic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/src/fonts/Roboto-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(/src/fonts/Roboto-MediumItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/src/fonts/Roboto-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/src/fonts/Roboto-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/src/fonts/Roboto-Black.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(/src/fonts/Roboto-BlackItalic.ttf) format('truetype');
  }
}

@layer components {}
@layer utilities {

  .backgroundForHero {
    background-color: #C5E7F1;
    background-image: url(/public/uploads/statek.png);
    background-size: 50%;
    background-position: right;
    border-radius: 41% 32% 25% 36% / 55% 0% 0% 32%;
    background-repeat: no-repeat;
  }

  .radiusForShip {
    border-radius: 41% 32% 25% 36% / 55% 0% 0% 32%;
  }

  .shadowTopOnly {
    box-shadow: 0 -5px 15px -10px #333;
    /* box-shadow: 0 -10px 20px -5px rgba(52, 90, 216, 0.75); */
  }

  .hover-zmiana {
    content: url('/public/uploads/statek.png');
    border-radius: 100%;
  }

}

#pages {
  > * {
    width: 100%;
    display: none;
  }
  
  > .active {
    display: block;
  }
}

body {
  text-align: center;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}