@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }
}

@layer components {}
@layer utilities {
  

}

#pages {
  > * {
    width: 100%;
    display: none;
  }
  
  > .active {
    display: block;
  }
}

body {
  text-align: center;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}