@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/src/fonts/Roboto-Thin.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url(/src/fonts/Roboto-ThinItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/src/fonts/Roboto-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(/src/fonts/Roboto-LightItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/src/fonts/Roboto-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(/src/fonts/Roboto-Italic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/src/fonts/Roboto-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(/src/fonts/Roboto-MediumItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/src/fonts/Roboto-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/src/fonts/Roboto-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/src/fonts/Roboto-Black.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(/src/fonts/Roboto-BlackItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'bornamedium';
    src: url(/src/fonts/borna-medium-webfont.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'bornamedium';
    src: url(borna-medium-webfont.eot);
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'bornamedium';
    src: url(/src/fonts/borna-medium-webfont.woff) format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

@layer components {}

@layer utilities {

  .backgroundForHero {
    background-color: #C5E7F1;
    background-image: url(/public/uploads/statek.png);
    background-size: 50%;
    background-position: right;
    border-radius: 41% 32% 25% 36% / 55% 0% 0% 32%;
    background-repeat: no-repeat;
  }

  .radiusForShip {
    border-radius: 41% 32% 25% 36% / 55% 0% 0% 32%;
  }

  .radiusForOfferTitles {
    border-radius: 25% 25% 50% 25% / 0% 0% 125% 0%;
    /* box-shadow: 0 -10px 20px -5px rgba(52, 90, 216, 0.75); */
    /* box-shadow: 0 1px 20px -5px rgba(59, 105, 255, 0.75); */
    box-shadow: 0 1px 20px -5px rgba(80, 95, 152);
  }
  
  .radiusForOfferSpecial {
    /* border-radius: 40% 40% 25% 25% / 10% 10% 0% 0%; */
    /* clip-path: ellipse(50% 10% at 50% 50%); */
    clip-path: ellipse(100% 50% at 50% 60%);
  }

  .afterBackgroundStretch::after {
    width: 2000px;
  }

  .radiusForContact {
    border-radius: 25% 25% 25% 25% / 0% 35% 35% 0%;
  }
  
  .shadowForNavyElements {
    /* BEZCZYNNE-BEZUŻYCIOA, ALE MOŻE SIĘ WYKORZYSTA? */
    box-shadow: 0 5px 15px -5px rgba(26, 60, 115);
  }

  .shadowTopOnly {
    box-shadow: 0 -5px 15px -10px #333;
  }

  .shadowHalogenEffect {
    box-shadow: 0 -10px 20px -5px rgba(52, 90, 216, 0.75);
  }

  .fadeInUp{
    animation:fadeInUp 1s ease backwards;
    animation-delay: 1s;
  }
  
  @keyframes fadeInUp{
    0%{transform:translate(0px, 100px); opacity: 0;}
    100%{transform:translate(0px, 0); opacity: 100%;}
  }

  .graphPaper {
    /* background-color: #DFDBE5; */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    
  }

  .imageChange {
    aspect-ratio: 1 / 1;
  }


 /*  #box {
    background-color: rgb(40 40 190 / 100%);
    border: 4px solid rgb(20 20 120);
    transition:
      background-color 1s,
      border 1s;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .vertical {
    color: white;
    font: 32px "Arial";
  }
  
  .extra {
    width: 350px;
    height: 350px;
    margin-top: 10px;
    border: 4px solid rgb(20 20 120);
    text-align: center;
    padding: 20px;
  }
   */

}

#pages {
  > * {
    width: 100%;
    display: none;
  }
  
  > .active {
    display: block;
  }
}

body {
  text-align: center;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}